{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="LAB 5">
<meta name="author" content="{{author}}">
<!-- bootstrap csss -->
<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'css/lab_5.css' %}" />

<title>
	{% block title %} Lab 5 By {{author}} {% endblock %}
</title>
</head>

<body>
<header>
	{% include "lab_5/partials/header.html" %}
	
</header>
<content>
		{% block content %}
			<!-- content goes here -->
		<h1 class="main-title">TODOLIST</h1>
<hr>
<section name="input-list" id="input-list">
	<div class="container">
		<form id="form" method="POST" action="/lab-5/add_todo">
			<h2>Input Todo</h2>
			<input name="csrfmiddlewaretoken" value="sa3VggNrQtyXksSd1QsbwZSPraTTlGYr6JUqJ5SRzu0hc2OdxzznfqFtfcBsCNXc" type="hidden">
			<input name="title" class="todo-form-input" placeholder="Masukan judul..." id="todo_title" maxlength="27" required="" type="text">
<textarea name="description" cols="50" rows="4" type="text" class="todo-form-textarea" placeholder="Masukan deskripsi..." id="todo_description" required=""></textarea>
			<input name="submit" class="btn btn-lg btn-block btn-info" value="Submit" type="submit">
			<br>
		</form>
	</div>
</section>
<section name="my-list" id="my-list">
	<div class="container">
		<h2 class="my-list-title">My List</h2>
		<div class="flex">
			
				
					<div class="flex-item">
						<div class="to-do-list">
							<div class="to-do-list-title">
								test
							</div>
							<div class="to-do-list-date-added">
								Oct. 2, 2017, 8:08 a.m.
							</div>
							<div class="to-do-list-description">
								test
							</div>
							<div class="to-do-list-delete">
								<div class="to-do-list-delete-button" data-id="112">Delete</div>
							</div>
						</div>
					</div>
				
			
		</div>
	</div>
</section>

	
		{% endblock %}
</content>
<footer>
	<!-- TODO Block Footer dan include footer.html -->
	{% block footer %}
	{% include "lab_5/partials/footer.html" %}
	{% endblock %}
</footer>

<!-- Jquery n Bootstrap Script -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="application/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="application/javascript">
  $(function() {
	  $('a[href*="#"]:not([href="#"])').click(function() {
		if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
		  var target = $(this.hash);
		  target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
		  if (target.length) {
			$('html, body').animate({
			  scrollTop: target.offset().top - 55
			}, 1000);
			return false;
		  }
		}
	  });
	});
	 $(".to-do-list-delete-button").on("click", function(e) {
        var uid = $(this).data('id');
        location.href="delete/" + uid;
      });
</script>
</body>
</html>
