    {% extends "lab_4/layout/base.html" %}

    {% block content %}
    <h1>Portofolio</h1>
	<div style="text-align:center"> <img class="img-circle"  src="https://anak-omega.com/blog/wp-content/uploads/2016/11/M.Dimas-Praharsa-1606874646-KR17-1-225x300.jpg">
	</div>
    <hr/>
    <section name="bio">
        <!--<h2>Bio</h2>-->
        <!--<p>-->
		<h2 align="center" style="font-weight: bold">
            {{content}}
        <!--</p>-->
		</h2>
    </section>
    <hr/>
	<section name="about_me">
		<h2>List</h2>
		<ul>
			{% for ii in about_me %}
			<li> {{ ii }} </li>
			{% endfor %}
		</ul>
	</section>
		<section name="form">
		{% if form.errors %}
		{% for field in form %}
			{% for error in field.errors %}
				<div class="alert alert-danger">
					<strong>{{ error|escape }}</strong>
				</div>
			{% endfor %}
		{% endfor %}
		{% for error in form.non_field_errors %}
			<div class="alert alert-danger">
				<strong>{{ error|escape }}</strong>
			</div>
		{% endfor %}
		{% endif %}		
		<h2>Send Message</h2>
		<form id="form" method="POST" action="{% url 'lab-4:add_message' %}">
			{% csrf_token %}
			{{ message_form }}
			<br>
			<button type="submit" class="btn btn-default">Submit</button>
		</form>
	</section>
    <hr/>
    {% endblock %}
