<nav class="navbar navbar-light" style="background-color: #176cff">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#" style="color: #edecd6">Home</a>
        <a class="navbar-brand" href="{% url 'lab-9:auth_login' %}">Logout</a>
    </div>
  </div>
</nav>
