body {
  min-height: 2000px;
}

.navbar-static-top {
  margin-bottom: 19px;
}

.img-circle {
   
	border-radius: 50%;
    
	display: block;
    
	margin: 0 auto;

}
/*Textarea not resizeable*/
textarea {
    resize:none
}